<html>
<body style="font-family:helvetica, arial;">
<p>
Hello {{approverName}}!
</p>
<p>
{{senderName}} requests your approval for {{leaveType}} of {{days}} days. 
</p>

<p>To Approve, click <a href="{{approveUrl}}">here</a>.<br>

To Reject, click <a href="{{rejectUrl}}">here</a>.</p>

<p>
To reach {{fromName}} directly, reply to this email. </p>

You can also see all leave requests on your <a href="{{dashboardUrl}}">Osiris dashboard. </a>
	<p>
		<i>Thanks,<br>

		The Osiris Team</i>
	</p>
</body>
</html>