<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Registeration</title>

  <meta charset="utf-8" />

<link href="../assets/default.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css" />
  <script>
  $(function() {
    $( "#joining_date" ).datepicker();
	$( "#dob" ).datepicker();
  });
  </script>
</head>

<body>
<H1> Registration </H1>
<form method="post" action="/register.do">
<table width="80%" border="0">
  <tr>
    <td width="37%">Name</td>
    <td width="63%"><input type="text" name="name" id="name" size="80"/></td>
  </tr>
  <tr>
    <td>Email</td>
    <td>{{employee_email}}</td>
  </tr>
  <tr>
    <td>Designation</td>
    <td><input type="text" name="designation" id="designation" size="80"/></td>
  </tr>
  <tr>
    <td>Phone 1</td>
    <td><input name="phone1" type="text" id="phone1" size="80" /></td>
  </tr>
  <tr>
    <td>Phone 2</td>
    <td><input type="text" name="phone2" id="phone2" size="80"/></td>
  </tr>
  <tr>
    <td>Address 1</td>
    <td><input type="text" name="address1" id="address1" size="80"/></td>
  </tr>
  <tr>
    <td>Address 2</td>
    <td><input type="text" name="address2" id="address2" size="80"/></td>
  </tr>
  <tr>
    <td>Joining Date</td>
    <td><input type="text" name="joining_date" id="joining_date" size="80"/></td>
  </tr>
  <tr>
    <td>CNIC</td>
    <td><input type="text" name="cnic" id="cnic" size="80"/></td>
  </tr>
  <tr>
    <td>DOB</td>
    <td><input type="text" name="dob" id="dob" size="80"/></td>
  </tr>
  <tr>
    <td>Blood Group</td>
    <td><input type="text" name="bloodgroup" id="bloodgroup" size="80"/></td>
  </tr>
  <tr>
    <td>NTN #</td>
    <td><input type="text" name="ntn" id="ntn" size="80"/></td>
  </tr>
  <tr>
    <td>DRI</td>
    <td><input type="text" name="dri" id="dri" size="80"/></td>
  </tr>
 <tr>
    <td></td>
    <td><input type="submit" name="button" id="button" value="Submit" /></td>
  </tr>  
</table>
</form>
</body>
</html>
